[submodule "kernel/src/lib/flanterm"]
	path = kernel/src/lib/flanterm
	url = https://github.com/Aster-OS/flanterm.git
[submodule "kernel/src/lib/nanoprintf"]
	path = kernel/src/lib/nanoprintf
	url = https://github.com/Aster-OS/nanoprintf.git
	branch = minimal
